Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
Debug/*.exe
Debug/*.dll
Release*.exe
Release*/Release*.exe
Release*/Release*\ Libs
Release/*.exe
Release/*.dll
*.sdf
*.opensdf
*.aps
*.suo
*.filters
*.user
*.obj
*.tlog
*.png
*.pdb
*.log
*.idb